<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
<%= for url <- @urls do %>
  <url>
    <loc><%= url.loc %></loc>
    <%= if Map.has_key?(url, :lastmod) do %><lastmod><%= url.lastmod %></lastmod><% end %>
    <changefreq><%= url.changefreq %></changefreq>
    <priority><%= url.priority %></priority>
  </url>
<% end %>
</urlset>
