<HomesiteWeb.Layouts.app
  flash={Map.get(assigns, :flash, %{})}
  current_scope={Map.get(assigns, :current_scope, nil)}
>
  <div class="py-24 sm:py-32">
    <div class="text-center">
      <div class="alert alert-error inline-block">
        <.icon name="hero-exclamation-circle" class="size-6" />
        <span class="text-2xl font-bold">500</span>
      </div>
      <h1 class="mt-6 text-3xl font-bold tracking-tight sm:text-5xl">
        No joo. Rauta aina välillä tekee näin.
      </h1>
      <p class="text-base-content/80 mt-2 text-2xl font-semibold">
        Internal Server Error
      </p>
      <p class="text-base-content/70 mt-6">
        Ihme että ees näät tän sivun, paukahdus oli kova.<br />
        Sorry, something went wrong. We're working on it.
      </p>
      <.link navigate={~p"/"} class="btn btn-primary mt-6">
        <.icon name="hero-arrow-left" class="size-4" />
        <span>Takas / Go back home</span>
      </.link>
    </div>
  </div>
</HomesiteWeb.Layouts.app>
