<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Kotisivut" %>
    </.live_title>

    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white">
    <ul class="relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end">
      <%= if @current_user do %>
        <li class="" title={@current_user.email}>
          <strong><%= @current_user.username %></strong>
        </li>
        <li>
          <.link href={~p"/users/settings"} class="link">
            Settings
          </.link>
        </li>
        <li>
          <.link href={~p"/users/log_out"} method="delete" class="link">
            Log out
          </.link>
        </li>
      <% else %>
        <li>
          <.link href={~p"/users/register"} class="link">
            Register
          </.link>
        </li>
        <li>
          <.link href={~p"/users/log_in"} class="link">
            Log in
          </.link>
        </li>
      <% end %>
    </ul>

    <%= @inner_content %>
  </body>
</html>
